
/* Estilo para o banner principal */

.bannergroup {
    overflow: hidden;
    height: 444px;
}

.banner_slider {
    width: 1200px !important;
    margin: 0 auto !important;
}

nav#nav .logo {

    float: left;
    margin-left: 10%;
    width: 300px;
    top: -27px;
    z-index: 99;
    background: url('images/logo.png') no-repeat center #fff;
    background-size: 190px 76px;
    position: relative;
    display: inline-block;
    padding: 1.75em 0 0.75em 0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    cursor: default;
}
nav#nav div.logo { 
    height: 75px;
}
nav#nav h1.logotipo:after {
    content: '';
    position: absolute;
    bottom: -33px;
    left: 0;
    border-top: solid 33px #fff;
    border-left: solid 150px transparent;
    border-right: solid 150px transparent;
}

ul.nav.menu {
    text-align: left;
    text-indent: 15px;
}

.tooltip {
    font-size: 0px;
}

.contact a.image.featured {
    max-height: 200px;
    overflow: hidden;
}

div#system-message-container {
    float: left;
    width: 100%;
}

div#system-message {
    width: 50%;
    margin: 0 auto;
    padding: 10px 10px;
    background: #f2dede;
    color: #3c0e0e;
    text-align: center;
    border-radius: 5px;
}

.alert.alert-notice {
    height: 22px;
}

.alert.alert-error {
    width: 50%;
    margin: 0 auto;
}

.alert.alert-error p {
    margin-bottom: 5px;
    background: #f2dede;
    border-radius: 5px;
    padding: 0 15px;
    color: #3c0e0e;
}

a.close {
    float: left;
    color: #3c0e0e;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    line-height: 21px;
    text-indent: 9px;
}

h4.alert-heading {
    float: left;
    line-height: 20px;
    margin-left: 25px;
    text-transform: uppercase;
}

.alert-message {
    text-align: left;
    line-height: 20px;
    text-indent: 24px;
}

/* componente de reservas online */

.hotel-content.row-fluid {
    display: none !important;
}

.hotel-breadcrumb {
    display: none !important;
}
.hotel_reservation {
  padding: 0 !important;
}

.reservation-details-holder h3 {
  background: #1c9453;
  line-height: 32px;
  color: #fff !important;
  font-size: 14px !important;
  font-weight: bold !important;
  text-shadow: none !important;
  padding: 0 10px;
  margin: 0;
  border-radius: 5px 5px 0 0; 
}

.reservation-details {
  background: none !important;
  border-bottom: 1px solid #ccc;
  font-size: 1em;
  line-height: 20px;
  margin-bottom: 20px;
  margin-left: 0 !important;
}
.reservation-steps ul li.completed {
  background: none !important;
}

.ui-hotel-button, a.ui-hotel-button {
    border: none !important;
    display: inline-block;
    margin: 0 0 3px;
    border-radius: 5px !important;
    color: #fff !important;
    text-decoration: none;
    padding: 0.6em 1.2em 0.6em 1.2em !important;
    -moz-transition: background-color .25s ease-in-out;
    -webkit-transition: background-color .25s ease-in-out;
    -ms-transition: background-color .25s ease-in-out;
    transition: background-color .25s ease-in-out;
    outline: 0;
    background: #1c9453 !important;
    font-weight: 700 !important;
    text-shadow: none !important;
}

.reservation-details.span12 {
    padding: 30px 10px !important;
}

@media screen and (max-width: 6800px) {
  .smallfont {
    font-size: 20px !important;
  }
}
@media screen and (max-width: 550px) {
  .smallfont {
    font-size: 20px !important;
  }
}

.trigger {
  font-size: 17px !important;
  opacity: 1 !important;
}

.styled-select.fixedWidth, .styled-select select {
  height: 35px !important;
}

.availability-calendar .price, .availability-calendar .legend .available {
  background: #1066a5;
}

.availability-calendar .legend .lock-arrival {
  background-image: linear-gradient(bottom, #1066a5 50%, #555555 50%);
  background-image: -o-linear-gradient(bottom, #1066a5 50%, #555555 50%);
  background-image: -moz-linear-gradient(bottom, #1066a5 50%, #555555 50%);
  background-image: -webkit-linear-gradient(bottom, #1066a5 50%, #555555 50%);
  background-image: -ms-linear-gradient(bottom, #1066a5 50%, #555555 50%);
}

.availability-calendar .legend .lock-departure {
  background-image: linear-gradient(bottom, #555555 50%, #1066a5 50%);
  background-image: -o-linear-gradient(bottom, #555555 50%, #1066a5 50%);
  background-image: -moz-linear-gradient(bottom, #555555 50%, #1066a5 50%);
  background-image: -webkit-linear-gradient(bottom, #555555 50%, #1066a5 50%);
  background-image: -ms-linear-gradient(bottom, #555555 50%, #1066a5 50%);
}

.availability-calendar .legend {
  font-size: 19px;
  margin-bottom: 9px;
}

.table_info .tr_cnt td {
  font-size: 20px;
}

.room_main_description p {
    font-size: 18px;
}

.trigger a, .trigger a:visited {
  text-decoration: none;
}

.tabs {margin-bottom: 20px;float: left;width: 100%;}
.reservation-steps ul li.completed {
  background: #fbfbfb !important;
}
.reservation-steps ul li.selected {
  background: #1c9453 !important;
}

.reservation-steps ul li a {
    color: #fff !important;
}

.reservation-steps ul li {
  background: #1066a5 !important;
}

.reservation-steps ul li.completed a {
  color: #666 !important;
  font-weight: bold;
}